{% extends "booking.html" %}
{% block booking %}
<h3>Confirmation</h3>
<p>Property: <strong>{{ prop.property_name }}</strong></p>
<p>Checkin: <strong>{{ checkin }}</strong></p>
<p>Checkout: <strong>{{ checkout }} <small>({{ nights }} nights)</small></strong></p>
<p>Name: <strong>{{ form_name }}</strong></p>
<p>E-Mail: <strong>{{ form_email }}</strong></p>
<p>Phone: <strong>{{ form_phone }}</strong></p>
<p>Street Name: <strong>{{ form_street_name }}</strong></p>
<p>Zip Code: <strong>{{ form_zipcode }}</strong></p>
<p>City: <strong>{{ form_city }}</strong></p>
<p>Country: <strong>{{ form_country }}</strong></p>
<p>Comment:</p>
<textarea disabled>{{ form_comment }}</textarea>
<br />
<br />
<form action="{{ url_for("book") }}" method="POST">
    <input type="hidden" name="action" value="do_2" />
    <input type="checkbox" name="confirm" value="1">I confirm this booking and agree to the <a
        href="/static/terms.txt">terms & conditions</a><br />
    <input type="submit" value="Confirm booking" />
</form>
{% endblock %}